@charset "euc-kr";

body, td {margin:0;padding:0;font:12px"돋움",Arial;color:#58595B;line-height:16px;} 
img {border:0;}
form {margin : 0px;}
a:link    {color:#976712;text-decoration:none;}
a:visited {color:#666666;text-decoration:none;}
a:active  {color:#666666;text-decoration:none;}
a:hover  {color:#CB8303;text-decoration:none}

.normal{font:12px "돋움","dotum"; color:#58595B; text-decoration:none;}
.normal_s{font:11px "돋움","dotum"; color:#58595B; text-decoration:none;}
.normal_sb{font:11px "돋움","dotum"; color:#58595B; text-decoration:none;font-weight:bold;}
.normal_b{font:12px "돋움","dotum"; color:#58595B; text-decoration:none; font-weight:bold;}
.orange{font:12px "돋움","dotum"; color:#F96F0A; text-decoration:none; font-weight:bold;}
.orange_s{font:11px "돋움","dotum"; color:#F96F0A; text-decoration:none;font-weight:bold;}
.blue{font:12px "돋움","dotum"; color:#2860C7; text-decoration:none; font-weight:bold;}
.blue_list{font:12px "돋움","dotum"; color:#497FBB; text-decoration:none; font-weight:bold;}
.blue_s{font:11px "돋움","dotum"; color:#2860C7; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.blue_ss{font:11px "돋움","dotum"; color:#2860C7; text-decoration:none; letter-spacing:-0.05em;}
.red{font:12px "돋움","dotum"; color:#E42F1D; text-decoration:none; font-weight:bold;}
.red_n{font:12px "돋움","dotum"; color:#E42F1D; text-decoration:none;}
.red_s{font:11px "돋움","dotum"; color:#E42F1D; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.red_ss{font:11px "돋움","dotum"; color:#E42F1D; text-decoration:none; letter-spacing:-0.05em;}
.yellow{font:12px "돋움","dotum"; color:#FFF450; text-decoration:none;font-weight:bold;}
.white_m{font:12px "돋움","dotum"; color:#FFFFFF; text-decoration:none;}
.white{font:12px "돋움","dotum"; color:#FFFFFF; text-decoration:none;}
.white_b{font:12px "돋움","dotum"; color:#FFFFFF; text-decoration:none; font-weight:bold;}
.white_s{font:11px "돋움","dotum"; color:#FFFFFF; text-decoration:none;letter-spacing:-0.08em;}
.yellow_b{font:13px "돋움","dotum"; color:#F9FD8E; text-decoration:none;font-weight:bold;}


/*실시간부킹정보*/

.field{font:12px "돋움","dotum"; color:#58595B; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
a:link.field{text-decoration:none; font-size: 9pt; color:#58595B;}
a:visited.field{text-decoration:none; font-size: 9pt; color:#458595B;}
a:hover.field{text-decoration:none; font-size: 9pt; color:white;}
a:active.field{text-decoration:none; font-size: 9pt; color:#58595B;}

.realtime_day{font:11px "돋움","dotum"; color:#808285; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.realtime_week{font:11px "돋움","dotum"; color:#58595B; text-decoration:none; letter-spacing:-0.05em;}
.realtime_sat{font:11px "돋움","dotum"; color:#228ADA; text-decoration:none; letter-spacing:-0.05em;}
.realtime_sun{font:11px "돋움","dotum"; color:#FF3600; text-decoration:none; letter-spacing:-0.05em;}

.realtime_team{font:12px "돋움","dotum"; color:#FF7E00; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
a:link.realtime_team{text-decoration:none; font-size: 9pt; color:#FF7E00;}
a:visited.realtime_team{text-decoration:none; font-size: 9pt; color:#FF7E00;}
a:hover.realtime_team{text-decoration:none; font-size: 9pt; color:#FF7E00;}
a:active.realtime_team{text-decoration:none; font-size: 9pt; color:#FF7E00;}

/*마이페이지*/

.m_title{font:11px "돋움","dotum"; color:#58595B; text-decoration:none;}
.m_title_b{font:11px "돋움","dotum"; color:#58595B; text-decoration:none;font-weight:bold;letter-spacing:-0.05em;}
.m_title_blue{font:11px "돋움","dotum"; color:#2860C7; text-decoration:none;font-weight:bold;letter-spacing:-0.05em;}
.m_title_red{font:11px "돋움","dotum"; color:#E42F1D; text-decoration:none;font-weight:bold;letter-spacing:-0.05em;}
.m_title_green{font:11px "돋움","dotum"; color:#008000; text-decoration:none;letter-spacing:-0.05em;}
.m_title_pink{font:11px "돋움","dotum"; color:#CC16CC; text-decoration:none;;letter-spacing:-0.05em;}


/*메인게시판리스트*/

.board_date{font:11px "돋움","dotum"; color:#808285; text-decoration:none;}
.board_list{font:11px "돋움","dotum"; color:#976712; text-decoration:none; letter-spacing:-0.05em;}
a:link.board_list{text-decoration:none; font-size: 9pt; color:#E53B07;}
a:visited.board_list{text-decoration:none; font-size: 9pt; color:#808285;}
a:hover.board_list{text-decoration:none; font-size: 9pt; color:#E53B07;text-decoration:underline;}
a:active.board_list{text-decoration:none; font-size: 9pt; color:#E53B07;}

/*서브게시판리스트*/

.b_list{font:12px "돋움","dotum"; color:#58595B; text-decoration:none; letter-spacing:-0.05em;}
a:link.b_list{text-decoration:none; font-size: 9pt; color:#58595B;}
a:visited.b_list{text-decoration:none; font-size: 9pt; color:#58595B;}
a:hover.b_list{text-decoration:underline; font-size: 9pt; color:#FF3C00; }
a:active.b_list{text-decoration:none; font-size: 9pt; color:#FF3C00;}


/*로그인*/

.login{font:12px "굴림","gulim"; color:#F4FC21; text-decoration:none; font-weight:bold;}
a:link.login{text-decoration:none; font-size: 9pt; color:#F4FC21; font-weight:bold;}
a:visited.login{text-decoration:none; font-size: 9pt; color:F4FC21; font-weight:bold;}
a:hover.login{text-decoration:underline; font-size: 9pt; color:white; font-weight:bold;}
a:active.login{text-decoration:none; font-size: 9pt; color:white; font-weight:bold;}

/*로그아웃*/

.logout{font:12px "굴림","gulim"; color:#EBBBEE; text-decoration:none; font-weight:bold;}
a:link.logout{text-decoration:none; font-size: 9pt; color:#EBBBEE; font-weight:bold;}
a:visited.logout{text-decoration:none; font-size: 9pt; color:EBBBEE; font-weight:bold;}
a:hover.logout{text-decoration:underline; font-size: 9pt; color:white; font-weight:bold;}
a:active.logout{text-decoration:none; font-size: 9pt; color:white; font-weight:bold;}

/*서브_본문*/

.cc_name{font:14px "굴림","gulim"; color:#1B9FD0; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.sub_title{font:14px "굴림","gulim"; color:#052B48; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.map_title{font:14px "굴림","gulim"; color:#ffffff; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}

/*달력*/
.sunday{font:11px "돋움","dotum"; color:#F33117; text-decoration:none;}
.saturday{font:11px "돋움","dotum"; color:#1953D8; text-decoration:none;}
.day{font:11px "돋움","dotum"; color:#58595B; text-decoration:none;}
.month{font:13px "굴림","gulim"; color:#32A800; text-decoration:none;font-weight:bold; }
.regist_no{font:11px "돋움","dotum"; color:#F33117; text-decoration:none;}
.regist_yes{font:11px "돋움","dotum"; color:#1953D8; text-decoration:none;}

/*지역링크*/

.total{font:12px "돋움","dotum"; color:#808285; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.area{font:12px "돋움","dotum"; color:#939598; text-decoration:none; letter-spacing:-0.05em;}
a:link.area{text-decoration:none; font-size: 9pt; color:#939598;}
a:visited.area{text-decoration:none; font-size: 9pt; color:#FF7E00;}
a:hover.area{text-decoration:none; font-size: 9pt; color:#FF7E00;}
a:active.area{text-decoration:none; font-size: 9pt; color:#FF7E00;}


/*가격표시*/

.normal_fee{font:11px "돋움","dotum"; color:#808285; text-decoration:none; letter-spacing:-0.05em;}
.normal_fee_b{font:11px "돋움","dotum"; color:#808285; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.mem_fee{font:11px "돋움","dotum"; color:#EF4E0E; text-decoration:none; letter-spacing:-0.05em;}
.mem_fee_b{font:11px "돋움","dotum"; color:#EF4E0E; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}

/*회원가입*/

.mem_subject{font:12px "돋움","dotum"; color:#808285; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.mem_notice{font:11px "돋움","dotum"; color:#5B9116; text-decoration:none; letter-spacing:-0.05em;}
.mem_input, select{background-color:F8F8F8;font-family:돋움,dotum;font-size:12px;color:#636163;height:14pt;border:1 solid #bcbec1;}
.mem_login, select{background-color:F8F8F8;font-family:돋움,dotum;font-size:12px;color:#636163;height:16pt;border:1 solid #bcbec1;}


/*기타*/

.location{font:11px "돋움","dotum"; color:#808285; text-decoration:none; letter-spacing:-0.05em;}
.location_b{font:11px "돋움","dotum"; color:#808285; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}

/* input box 스타일 */

.input_01, select{background-color:ffffff;font-family:돋움,gulim;font-size:12px;color:#636163;height:16pt;border:1 solid #bcbec0;}
.input_02{background-color:FFFFFF;font-family:돋움,dotum;font-size:12px;color:#636163;height:14pt;border:1 solid #bcbec1;}
.box_01, textarea, select, input{font-family:돋움,dotum;font-size:12px;color:#636163;border:0 solid #BCBEC1}
.box_02, textarea{font-family:돋움,dotum;font-size:12px;color:#636163;border:1 solid #BCBEC1}


body {
scrollbar-highlight-color:#FFFFFF; 
scrollbar-3dlight-color:#B58E63; 
scrollbar-face-color:#F2ECE6; 
scrollbar-shadow-color:#B58E63; 
scrollbar-darkshadow-color:white; 
scrollbar-track-color:#FFFFFF; 
scrollbar-arrow-color:#B58E63;
}
