/* CSS Document */
@import url("common.css");
body{
	background-color: #FFFFFF;
	background-image:  url(../images/sub_footer_bg01.jpg);
	background-position: left bottom;
	background-repeat: repeat-x;
}


#top {
	background-image:  url(../images/login/login_bg.jpg);	
	background-repeat: repeat-x;
	padding-left: 325px;
	height: 25px;
	padding-top: 4px;
}

#top span{
	padding-right: 0px;
}

#top_flash {
	position: relative;
	background-image:  url(../images/sub_top_bg.jpg);	
	background-repeat: repeat-x;	
}
	#logo {
		position: absolute;
		top: 12px;
		left: 33px;
	}
	#top_menu {
		padding-left: 324px;
		padding-top: 24px;
		padding-bottom: 10px;
	}
	
#left_area {
	position: absolute;
	top: 218px;
	left: 16px;
}

	#banner {
		padding-top: 20px;
	}
	
	#help {
		padding-top: 13px;
	}

#content_area {
	padding-left: 266px;
	width: 733px;
	min-height: 500px;
}
	#navi {
		text-align: right;
		padding-right: 10px;
		
	}
	#content_all {
		margin-top: 26px;
		padding-right: 15px;
		padding-left: 15px;
	}

#quick_menu {
	position: absolute;
	top: 100px;
	left:500px;
}

#bottom_area {
	height: 250px;
}
	#copyright {
		padding-top: 124px;
	}