BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote{font-size:9pt;font-family:굴림;color:#333333;letter-spacing:0;line-height:20px}

.normal{font:12px "돋움","dotum"; color:#58595B; text-decoration:none;}
.normal_s{font:11px "돋움","dotum"; color:#58595B; text-decoration:none;}
.normal_b{font:12px "돋움","dotum"; color:#58595B; text-decoration:none; font-weight:bold;}
.orange{font:12px "돋움","dotum"; color:#F96F0A; text-decoration:none; font-weight:bold;}
.orange_s{font:11px "돋움","dotum"; color:#F96F0A; text-decoration:none;font-weight:bold;}
.blue{font:12px "돋움","dotum"; color:#2860C7; text-decoration:none; font-weight:bold;}
.red{font:12px "돋움","dotum"; color:#E42F1D; text-decoration:none; font-weight:bold;}
.red_s{font:11px "돋움","dotum"; color:#E42F1D; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}


A:link    {color:#666666;text-decoration:none;}
A:visited {color:#666666;text-decoration:none;}
A:active  {color:#666666;text-decoration:none;}
A:hover  {color:#3192AC;text-decoration:underline;}

.left_menu{font:12px "돋움","dotum"; color:#F4FC21; text-decoration:none;}
a:link.left_menu{text-decoration:none; font-size: 9pt; color:#F4FC21;}
a:visited.left_menu{text-decoration:none; font-size: 9pt; color:#F4FC21;}
a:hover.left_menu{text-decoration:underline; font-size: 9pt; color:#F4FC21;}
a:active.left_menu{text-decoration:none; font-size: 9pt; color:#F4FC21;}


.list {font-size: 9pt; color: #666666; font-family: "굴림", "굴림체"}
.list a:link {color: #666666; text-decoration: none}
.list a:visited {color: #666666; text-decoration: none}
.list a:hover {color:#000000;  background-color: #F5F5F5; text-decoration:none}
.list a:active {color: #336699; text-decoration: none}

.head {border:solid 1 #666666;font-size:9pt;color:#666666;background-color:white;height:19px}
.textarea {border:solid 1;font-size:9pt;color:#666666;background-color:white;}
.input {border:solid 1;font-size:9pt;color:#666666;background-color:white;}
.submit {border:solid 0;font-size:9pt;color:white;background-color:#666666;height:19px}
.input2, select{background-color:FFFFFF;font-family:굴림,Gulim;font-size:12px;color:#636163;border: 1 solid #B0B0B0}

/*서브_본문*/

.title{font:14px "굴림","gulim"; color:#339999; text-decoration:none; font-weight:bold;}
.list_title{font:12px "돋움","dotum"; color:#052B48; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.list_subject{font:12px "돋움","dotum"; color:#497FBB; text-decoration:none; font-weight:bold; letter-spacing:-0.05em;}
.upload, select{background-color:ffffff;font-family:굴림,gulim;font-size:12px;color:#636163;height:15pt;border:1 solid #bcbec0}

/*달력*/
.sunday{font:11px "돋움","dotum"; color:#F33117; text-decoration:none;}
.saturday{font:11px "돋움","dotum"; color:#1953D8; text-decoration:none;}
.day{font:11px "돋움","dotum"; color:#58595B; text-decoration:none;}
.month{font:13px "굴림","gulim"; color:#F33117; text-decoration:none;font-weight:bold; }
.regist_no{font:11px "돋움","dotum"; color:#F33117; text-decoration:none;}
.regist_yes{font:11px "돋움","dotum"; color:#1953D8; text-decoration:none;}


/*form*/
.select {font-size:9pt;}
.input_box, select{background-color:ffffff;font-family:돋움,dotum;font-size:12px;color:#636163;height:15pt;border:1 solid #bcbec0;}
.textarea {border:solid 1 #999999;background-color:#ffffff;font-family:"","u","verdana"; font-size:9pt; overflow-x:hidden; overflow-y:auto}
.textarea1 {border:solid 1 #009999;font-family:"","u","verdana"; font-size:9pt; overflow-x:hidden; overflow-y:auto}
.button {border:solid 1 #000000; cursor: "hand"; font-family:"verdana", ""; font-size: 9pt; color: #FFFFFF; background-color: #3366CC; height=22px;}
.button1 {border:solid 1 #009999; cursor: "hand"; font-family:"verdana", ""; font-size: 9pt; color: #FFFFFF; background-color: #009999; height=22px;}
.insText { width: 191px; background: url(images/common/srch_back.gif) no-repeat; border: none; background-color: transparent; color: #fff; height: 21px; padding: 3px 0 0 5px; font-size: 12px; float: left; }
/*
.button1 {border:solid 1 #2D6410; cursor: "hand"; font-size: 9pt; color: #FFFFFF; background-color: #97CD10; height:20px;}
*/
.button2 {border:solid 1 #2D6410; cursor: "hand"; font-size: 9pt; color: #FFFFFF; background-color: #58AA2C; height:35px;}

.input_tright {border:solid 1 #009999;font-family:"verdana","","u";color:#333333; font-size:8pt; height=20px;text-align : right;}

/* input box 스타일 */

.box01, select{background-color:ffffff;font-family:굴림,gulim;font-size:12px;color:#636163;height:15pt;border:1 solid #bcbec0}

.box02, select{background-color:f1f1f1;font-family:굴림,gulim;font-size:12px;color:#636163;height:15pt;border:1 solid #bcbec0}

.box03, textarea, select{background-color:FFFFFF;font-family:굴림,gulim;font-size:12px;color:#636163;border:1 solid #bcbec0}

Body {


	scrollbar-shadow-color: #63655A;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #63655A;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #666666;
	scrollbar-arrow-color: #258098;
}